* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to top right, red, white);
  background-size: cover;
}

div {
  margin: 0 auto;
  text-align: center;
}

div.satu {
  width: 800px;
  height: 900px;
  background-image: radial-gradient(ellipse at bottom, white, blue);
}

div.dua {
  width: 800px;
  height: 200px;
  background-image: radial-gradient(circle 400px at left, white, transparent),
    linear-gradient(to right, blue 60%, white);
}
